*{
    font-family: 'Roboto';
}
header{
  position: relative;
}
nav{
  box-sizing: border-box;
  height: 50px;
  background-color: #212121;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
 }
ul{
  margin: 0;
  display: flex;
  justify-content:space-between;
}
li{
  margin-top: 18px;
  height:15px;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  list-style-type: none;
  line-height:1;
}
.line{
  width: 2px;
  height: 31px;
  border-right: 2px dotted black;
  margin: 10px 0;
}

.logo{
  position:absolute;
  width: 100%;
  min-height: 84px;
  background-color: rgba(0,0,0,0.6);
  margin: 0;
  z-index: 1;
}
.logo img{
  margin-top: 16px;
  width: 285px;
}
.logo-text p{
  height: 14px;
  margin: 6px 0 0 0;
  font-size: 13px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.phone p{
  height: 13px;
  margin-top: 20px ;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #fff;
  margin-bottom: 0;
  line-height:1;
}
.phone a{
  line-height:1;
  display: block;
  height: 22px;
  margin-top: 8px ;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  text-decoration: none;
}
.logo_but button{
  width: 172px;
  height: 46px;
  margin-top: 19px ;
  border: 0;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #65c2d4, #90ecff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.main{
  height: 750px;
  text-align: center;
  margin: 50px auto 0 auto;
  padding-top: 150px;
  background: url('../bg/1-screen.png') center center/ cover no-repeat ;
}
.main h1{
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.main h2{
  margin-top: 26px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.main p{
  margin-top: 23px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  
}
.main button{
  width: 259px;
  height: 63px;
  margin-top: 118px;
  border: 0;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #65c2d4, #90ecff);
  border-radius: 4px;
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 135px;
}

.causes{
  height:900px;
}
.advantages{
  width: 112px;
  height: 24px;
  background-color: #000;
  font-size: 11px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 70px auto 0 auto;
  text-transform: uppercase;
  padding: 7px;
}
.causes h2{
  height: 27px;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  text-transform: uppercase;
}
.causes .string_up{
  margin-top: 40px;
}
.string_low{
  margin-top: 35px;
}
.causes img{
  margin-top: 5px;
  display: inline-block;
width: 20%;
margin: 0 4% 0 6%;
vertical-align: top;
}
.cause{
  margin-top: 0px;
  display: inline-block;
  width:60%;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: justify;
}
.causes h3{
  font-size: 17px;
  font-weight: normal;
  color: #1eacc7;
}
.causes p{
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  margin-bottom: 0; 
}
